/*--------------------- general selectors ----------------*/

* {
    scroll-behavior: smooth;
}

:root { /* for color variables */
    --mint-green: #85ff9e;
    --jet: #292929;
    --maximum-blue-purple: #baa5ff;
    --spanish-gray: #969c99;
    --battleship-grey: #808782;
  }

body {
    background-color: var(--jet);
}

a {
    text-decoration: none;
}

main {
    max-width: 425px;
    margin-left: auto;
    margin-right: auto; 
}

/*--------------------- general *class* selectors ----------------*/

.paragraph {
    font-family: source sans pro;
    color: var(--battleship-grey)
}

.paragraph:hover {
    color: var(--mint-green);
    transition: 0.05s;
  }

  .divider { 
    width: 90%;
    height: 2px;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--maximum-blue-purple);
  }

  .letter:hover { /* really cool effect, really time consuming */
    color: var(--spanish-gray);
    transition: 0.05s;
  }

.flex-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}

/*--------------------- header selectors ----------------*/

header {
    background-color: var(--jet);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    text-align: center;
}

header h1 {
    color: var(--battleship-grey);
    font-family: oswald;
    margin-right: auto;
    margin-left: 20px;
}

#headshot {
    width: 50px;
    position: relative; /* allows us to reposition image */
    bottom: 10px;
}

#profile-pic {
    width: 50px;
    height: 50px;
    margin-left: auto;
    border-radius: 50%;
    border-style: solid;
    border-width: 2px;
    border-color: var(--mint-green);
    overflow: hidden;
}

#navbar {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

#navbar a {
    font-family: source sans pro;
    color: var(--battleship-grey);
    margin: auto 12.5px;
}

#navbar a:hover {
    color: var(--mint-green);
}

#resume {
    display: inline-block; 
    border-style: solid;
    border-color: var(--mint-green);
    border-radius: 20px;
}

#resume a {
    color: var(--mint-green);
}

#resume:hover {
    border-color: var(--maximum-blue-purple);
    background-color: var(--maximum-blue-purple);
}

#resume a:hover {
    color: var(--jet);
}

/*--------------------- welcome selectors ----------------*/

#welcome-section h1, #welcome-section h2 {
    color: var(--battleship-grey);
    font-family: oswald;
    margin-top: 0.2em;
}

#welcome-section h1 {
    margin-bottom: 0;
}

#hi-there {
    color: var(--mint-green);
    font-family: roboto mono;
    margin-bottom: 0;
}

#welcome-section {
    margin-top: 110px;
    height: 700px;
    padding-top: 250px; /* wanted text to sit higher up on mobile */
}

/*--------------------- about selectors ----------------*/

#about {
    height: 600px;
    padding-top: 300px;
}

#about-me {
    color: var(--mint-green);
    font-family: roboto mono; /* fix font family */
}

#about .contact-container {
    margin-left: 60%
}

#about a {
    margin: auto 10px;
    color: var(--mint-green);
}

#about a:hover {
    color: var(--jet);
}

/*--------------------- project selectors ----------------*/

#projects {
    height: 1000px;
    scroll-margin-top: 130px; /* nav-scroll was broken and going to far, this fixes it */
}

#my-projects {
    color: var(--mint-green);
    font-family: roboto mono;
}

#project-flexbox {
    flex-direction: column;
    text-align: center;
}

#project-description {
    text-align: center;
}

.project-tile {
    width: 300px;
    height: 250px;
    border-style: solid;
    border-width: 2px;
    border-color: var(--mint-green);
    background-color: var(--mint-green);
}

.project-tile:hover img {
    opacity: 0.8;
}

.project-header {
    font-family: roboto mono;
    color: var(--battleship-grey);
}

.project-img {
    width: 100%;
    height: 100%;
}

/*--------------------- contact selectors ----------------*/

#contact {
    height: 500px;
    padding-top: 400px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#contact h1 {
    color: var(--battleship-grey);
    font-family: oswald;
    text-align: center;
    margin-bottom: 0;
}

#contact p {
    text-align: center;
}

#contact a {
    color: var(--mint-green);
}

.contact-container {
    display: inline-block; 
    border-style: solid;
    border-color: var(--mint-green);
    border-radius: 20px;
}

#contact .contact-container {
    width: 90px; 
}

#instagram {
    position: relative;
    bottom: 1px;
    right: 1px; 
}

#instagram ion-icon { /* was sitting weird, had to adjust individually */
    top: 3px;
    left: 3px;
}

.contact-container:hover {
    border-color: var(--maximum-blue-purple);
    background-color: var(--maximum-blue-purple);
}

#contact a:hover {
    color: var(--jet);
}

ion-icon {
    color: var(--mint-green);
    position: relative;
    top: 2px;
    left: 2px;
}

#contact ion-icon:hover {
    color: var(--jet);
}

/*--------------------- footer selectors ----------------*/

footer {
    width: 100%;
    text-align: center;
}

footer a {
    color: var(--mint-green);
    font-family: roboto mono;
}

footer a:hover {
    color: var(--maximum-blue-purple);
}

footer ion-icon:hover {
    color: var(--maximum-blue-purple);
}

/*----------------- media queries --------------------------*/

@media only screen and (min-width: 40.625em) { /* 650px */
    main {
        width: 80%;
        max-width: 750px;
        margin-right: auto;
        margin-left: auto;
    }

    header h1 {
        font-size: 2.3em;
    }

    header a {
        font-size: 1.3em;
    }

    #welcome-section h1 {
        font-size: 2.3em;
    }

    #intro {
        max-width: 400px ;
    }

    #about .contact-container {
        margin-left: 70%;
    }

    #contact h1 {
        font-size: 2em; 
    }

    #contact .contact-container {
        margin-left: 10px;
        margin-right: 10px;
    }

}

@media only screen and (min-width: 50em) { /* 800px */
    main {
        width: 80%;
        max-width: 1000px;
        margin-right: auto;
        margin-left: auto;
    }

    header {
        display: inline-block;
    }

    #profile-pic {
        margin-left: 25px; 
    }

    #navbar {
        display: inline-block; 
        width: 400px ;
        margin: auto 0 auto auto;
    }

    #welcome-section h1 {
        font-size: 3em;
    }

    #welcome-section h2 {
        font-size: 2em; 
    }

    #contact h1 {
        font-size: 3em;  
    }

    .paragraph {
        max-width: 750px;
    }

}

@media only screen and (min-width: 62.5em) { /* 1000px */

    main {
        max-width: 1500px;
        margin-right: auto;
        margin-left: auto;
    }

    #welcome-section, #about, #projects, #contact {
        max-width: 1100px;
        margin-left: auto;
        margin-right: auto;
    }

    header {
        display: inline-block;
    }

    #profile-pic {
        margin-left: 25px; 
    }

    #navbar {
        display: inline-block; 
        width: 400px ;
        margin: auto 0 auto auto;
    }

    #welcome-section h1 {
        font-size: 5em;
    }

    #welcome-section h2 {
        font-size: 3rem;
    }

    #about .contact-container {
        margin-left: 50%; /* not terrible, might change in future */
    }

    #contact h1 {
        font-size: 5em;  
    }

    .divider {
        width: auto;
    }

}